@charset "utf-8";
/* CSS Document */


@import "simplegrid.css";

.navigation ul {
	/*background-color:rgba(34,255,134,1.00);*/
}
.hjem {
	margin-left: 250px;
}
.kontakt {
	margin-right: 250px;
}
/**/
 .titel_container {  
	margin-top: 40%;
}
.titel_container p {
	color: white;
	padding: 15px 15px 15px 15px;
	letter-spacing: 2px;		
}
#titel_navn {
	font-size: 35px;
	align-content: center;
}
#titel_beskrivelse {
	font-size: 30px;
}
/*Kontaktformen under Kontakt*/
form {
	width: 40vw;
}










