@charset "utf-8";
/* CSS Document */
/* henter et andet style sheet ind i mit eget */
@import "css_reset.css";
@import "simplegrid.css";

/* Her kommer mine egne styles */

/* Baggrundsbilledet på forsiden på tablet og større*/
.baggrundsbillede {	
	position: fixed;
	background: url("../images/william_portrait_longer.jpg");	
	background-repeat: no-repeat;
	background-position:  left top;
	background-size: 100%;	
	height: 100%;
	width: 100%;
	filter: brightness(65%);
	margin-top: 200px;
	z-index: -10;	 
}
/* Billedet af mig på mobil*/
#forside_portrait {
	max-width: 70%;	
	height: auto;
	display: block;
	margin-top: 110px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

/* Teksten med mit navn titel på forsiden*/
.titel_container p {
	font-family: 'Varela Round', sans-serif;	
	font-weight: bold;
	color: black;
	padding: 15px 15px 15px 15px;
	letter-spacing: 2px;
	
}
#titel_navn {
	font-size: 24px;
	text-align: center;
}
#titel_beskrivelse {
	font-size: 20px;
	text-align: center;
}


/* Dette er min navigationslinje som går igen på hver side*/
.navigation {
	position: fixed;
	top: 0;
	width: 100%;	
	z-index: +1;
}
.navigation ul {
	list-style-type:none;
  	display:flex;
  	/*justify-content: center;*/
	overflow: hidden;
	background-color:#91FFAB;
	/*padding-left: 25%;*/
	height: 55px;
	box-shadow: 0px -5px 10px 3px rgba(0,0,0,1.00);
}
.navigation li { 
	/*display: list-item;*/
	text-align: center;	
	margin: auto ;	
	
	}
#link {
	/*background-color:rgba(0,255,12,0.44);*/
	text-shadow: 2px 2px 3px grey ;
	font-size: 23px;	
}
.navigation li a {
	display: block; 
	color:black;	
	text-decoration: none;
	font-size: 19px;
	font-family: 'Varela Round', sans-serif;		
}
.navigation li a:hover{
	/*background-color:rgba(0,255,12,0.44);*/
	text-shadow: 2px 2px 3px grey ;
	font-size: 23px;
}
.hjem {
	width: 80px;
	margin-right: -10px;
}
.projekter {
	width: 130px;
	margin-left: -10px;
	margin-right: -15px;
}
.om_mig {
	width: 120px;
	margin: 0 -28px 0 -15px;
}
.kontakt {
	width: 115px;
}

/*simplegrip til "projekter"*/
[class*='col-'] {
	margin: 0 0 10px;
}
.main_body {
	font-family: 'Varela Round', sans-serif;
}
.projekt_overskrift{
	margin-top: 140px;
	margin-bottom: 20px;
	font-size: 27px;
	font-weight: 600;
}
.content {
	background-color: #FFFFFF;
}
.content_text  {
	font-size: 18px;
	line-height: 26px;
}
.content_text h2 {
	font-weight: 600;
	margin-bottom: 10px;
}
.content_text p {
	margin-bottom: 12px;
}
.content a {
	display: block;
	margin-bottom: 12px;
}
.main_body img {
	width: 100%;
}
.vejr_app_billede1 {
	margin-right: 3%;
}
.vejr_app_billede2 {
	margin-left: 3%;
}
.vejr_app_container {
	float: left;
	width: 49%;
}
.flow5_redesign img {
	margin-bottom: 10px;
}
.flow5_mobil_screenshot {
	max-width: 48%;
	float: left;	
}
.flow5_mobil_screenshot1 {
	margin-right: 5%;
}
.flow5_mobil_screenshot2 {
	margin-left: 5%;
}



/*overlays på projekter siden*/
#overlay1 {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#overlay2 {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
}
#overlay3 {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlay4 {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2;
  cursor: pointer; 
}
#overlay5 {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.overlay_content{
  position: static; 
	background-color: white;
	width: 86vw;
	max-width: 700px;
	max-height: 95vh;
	margin:auto;
	padding: 7px;
	overflow:scroll;
}
.beskrivelse_link {
	cursor:pointer;
     color:blue;
     text-decoration:underline;
}

/*styles til "om_mig" siden*/
#om_mig_section {
	margin-top: 90px;
}
.om_mig_beskrivelse {		
	font-family: 'Varela Round', sans-serif;
	line-height: 19px;
	margin-top: 30px;
}
.om_mig_beskrivelse p {
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 21px;
}
.portrait {
	max-width: 70%;	
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

/*Kontaktformen under Kontakt*/
.kontakt_formular {
	font-family: 'Varela Round', sans-serif;
}
form {
	width: 73vw;
	margin: 150px auto;
	
	border-radius: 20px;
	padding: 20px 38px 12px 23px;
	font-size: 18px;
	/*background: #72FC8A;*/
	/*background: #BFEDFF;*/
	background: #91FFAB;
	}
input {
	width: 100%;
	padding: 3px 6px;
	margin: 10px 0;
	height: 30px;
	/*border: 1px solid #000000; */
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
}
form textarea {
	width: 100%;
	height: 150px;
	/*border: solid 1px #000000; */
	padding: 3px 6px;
	margin: 10px 0 0 0;
	font-size: 16px;
	overflow:auto;
}
#send_knap {
	background: #69E085;
	width: 80px;
	height: 36px;
	border-radius: 8px;
	
	font-weight: bold;
}
#send_knap:hover {
	background: #00B32A;
	
}











