@charset "utf-8";
/* CSS Document */


@import "simplegrid.css";

.navigation ul {
	/*background-color: aqua;*/
}
/**/
 .titel_container {  
	margin-top: 30%;
}
.titel_container p {
	font-family: 'Varela Round', sans-serif;	
	font-weight: bold;
	color: white;
	padding: 15px 15px 15px 15px;
	letter-spacing: 2px;		
}
#titel_navn {
	font-size: 35px;
	text-align: left;
}
#titel_beskrivelse {
	font-size: 30px;
	text-align: left;
}
/**/
.baggrundsbillede {
	margin-top: 55px;
}
/*Kontaktformen under Kontakt*/
form {
	width: 50vw;
}
input {
	width: 50%;
}
/*styles til "om_mig" siden*/
#om_mig_section {
	margin-top: 140px;
}
.om_mig_beskrivelse {
	margin-top: 0;
	margin-right: 50px;
}
.portrait {
	max-width: 100%;	
}
.hide-on-tablet {
	display: none !important;
	width: 0;
	height: 0;
}